h1{
    background: purple;
    color: aquamarine;
}

.paragrath1{
    background: plum;
    font-size: 32pt;
    color: blue;
}

.paragrath2{
    border: 10px solid yellow;
    border-radius: 15px;
    font-size: 24pt;
    margin-bottom: 80px;
    padding-top: 20px;
}

.paragrath3{
    color: black;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial;
    text-shadow: green 2px 3px;
}

.senter{
    text-align: center;
    font-size: 24px;
}